<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Digestive.</title>
  </head>
  <body style="margin: 0; padding: 0;" class="body">
    <!-- Container table -->
    <table id="container" cellpadding="20" cellspacing="0" border="0" align="center" width="100%">

      <!-- Body table (not indented because the indentation is annoying for an essentially meaningless table) -->
      <tr>
        <td align="center">
          <table id="body" cellpadding="20" cellspacing="0" border="0" align="center" width="600">

            <!-- Header -->
            <tr>
              <td align="center" id="header">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                  <tr>
                    <td id="header-text">Hi! Here's your daily digestive.</td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- Meta info -->
            <tr>
              <td id="meta" class="block">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                  <tr>

                    <!-- Closed commits -->
                    <td class="number-block">
                      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                        <tr>
                          <td class="big-number">
                            <a href="#" class="nostyle">${collection.total_closed}</a>
                          </td>
                        </tr>
                        <tr>
                          <td class="subtitle">
                            <a href="#" class="nostyle">issues CLOSED</a>
                          </td>
                        </tr>
                      </table>
                    </td>

                    <!-- Opened commits -->
                    <td class="number-block">
                      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                        <tr>
                          <td class="big-number">
                            <a href="#" class="nostyle">${collection.total_opened}</a>
                          </td>
                        </tr>
                        <tr>
                          <td class="subtitle">
                            <a href="#" class="nostyle">issues Opened</a>
                          </td>
                        </tr>
                      </table>
                    </td>

                    <!-- Total commits -->
                    <td class="number-block" id="total-commits">
                      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                        <tr>
                          <td class="big-number">
                            <a href="#" class="nostyle">${collection.total_issues}</a>
                          </td>
                        </tr>
                        <tr>
                          <td class="subtitle">
                            <a href="#" class="nostyle">total issues</a>
                          </td>
                        </tr>
                      </table>
                    </td>


                  </tr>
                </table>
              </td>
            </tr>

            % for (user, issues) in collection.group_by_users:

            <!-- Team member 1 -->
            <tr>
              <td align="center" class="team-member">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">

                  <!-- Team member: meta -->
                  <tr>
                    <td class="user-image" width="40">
                      <img src="${user.get_gravatar()}">
                    </td>
                    <td class="user-name">${user.get_name()}</td>
                  </tr>

                  <tr>
                    <td class="section-title">Issues:</td>
                    <td class="section-content">
                      <!-- Team member: issues -->
                      <ul class="list">
                        %for issue in issues:
                        <li class="issue">
                        <div class="issue-details">
                          <span class="${issue.get_css_class()}">${issue.get_human_state()}</span> 
                          <a href="${issue.get_url()}">${issue.get_label()}</a>
                        </div>
                        <div class="issue-title">${issue.get_title()}</div>
                        </li>
                        % endfor

                      </ul>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            % endfor

          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table id="footer" cellpadding="5" cellspacing="0" border="0" align="center" width="600">
            <tr><td>Sent by Digestive.</td></tr>
            <tr><td>Made with love in a <a href="https://www.rainforestqa.com/">RainforestQA</a> hack evening.</td></tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
